################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/obj/Debug
/TTWebsite.njsproj
/bin/Microsoft.NodejsTools.WebRole.dll
