<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Team 6072 | Triton Tech</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Icon -->
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- <div class="brand">Triton Tech</div> -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="img-responsive title-logo" src="img/logo-transparent.png" alt="">
        <div class="brand">Triton Tech 6072</div>
        <!-- <div class="address-bar">Corona del Mar High School | Newport Beach, CA</div> -->
      </div>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="/">Triton Tech 6072</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/structure">Team</a>
                    </li>
                    <li>
                        <a href="/sponsors">Sponsors</a>
                    </li>
                    <li>
						<a id="donate" data-toggle="modal" data-target="#myModal" href="">Donate</a>
					</li>
                    <li>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfr8lwwmGD8DYK1D2FLpt71xZdGPJyrw_Jv8dwRjo8b9E43xQ/viewform?usp=sf_link">Join</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">How to Donate</h4>
          </div>
            <div class="modal-body">
                We are a 501c3 Charitable Organization and all donations are tax deductible.
                <br />
                <br />
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="ZRNBAMGTQFB52">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            <div class="modal-footer">
                Thank you!
            </div>
        </div>
      </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img" src="img/beach-blitz-2018.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img" src="img/team-2018.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img" src="img/team-2016.jpg" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-md-4">
                  <img class="img-responsive img-border img-left" src="img/team-2018.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <hr>
                    <h2 class="intro-text text-center">Corona del Mar High School's
                        <strong>Robotics Team</strong>
                    </h2>
                    <hr>
                    <!-- <img class="img-responsive img-border img-left" src="img/intro-pic.jpg" alt=""> -->
                    <hr class="visible-xs">
                    <p>Based at Corona del Mar High School in Newport Beach, California, Triton Tech is a robotics team comprised of hardworking students, grades 9-12.  In 2016, Triton Tech took part in <a href="http://www.firstinspires.org/" target="_blank">FIRST</a>, an international robotics competition. Despite being a first-year team, Triton Tech was named a finalist at the Orange County Regional, advancing to the World Championship in St. Louis, Missouri.</p>
                </div>
            </div>
        </div>
		
		<!-- Google Calendar -->
        <div class="row">
            <div class="box">
               <div class="col-md-8">
				<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showTz=0&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=tritontech6072%40gmail.com&amp;color=%232952A3&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23A32929&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="1100" height="300" frameborder="0" scrolling="no"></iframe>
			   </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Triton Tech &copy; 2018</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
